<!DOCTYPE html>
<html lang="ru">
<head>
	<title>Полный гид по получению ЭЦП</title>
	<meta charset="UTF-8" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link rel="preconnect" href="https://fonts.gstatic.com" />
	<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap" rel="stylesheet" />
	<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
	<!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
		integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous"> -->
	<link
		rel="stylesheet"
		href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
		integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
		crossorigin="anonymous"
	/>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css" />
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@12/swiper-bundle.min.css" />
	<script src="https://cdn.jsdelivr.net/npm/swiper@12/swiper-bundle.min.js"></script>

	<link rel="stylesheet" href="css/style.min.css" />
	<link rel="shortcut icon" href="favicon.ico" />
	<!-- <meta name="robots" content="noindex, nofollow"> -->
	<!-- <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"> -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>


<body>
     <div class="wrapper landing-nalog landing-uns landing-sdfl">
        <header class="header-landing">
              <div class="container">
                  <div
                        class="header-landing__body d-flex justify-content-between align-items-center position-relative">
                        <a href="index.html" class="header-logo d-flex align-items-center">
                            <img class="logo" src="./img/coat-of-arms.png" alt="Герб" />
                            <img class="logo" src="./img/heraldry.png" alt="Лого" />
                            <div class="header-logo__name">
                                  <div class="header-logo__subtitle">Официальный сайт</div>
                                  <div class="header-logo__title">Министерство по налогам и сборам Республики Беларусь
                                  </div>
                            </div>
                        </a>
                        <div class="ml-sm-3 d-flex align-items-center justify-content-center">
                            <div class="d-none d-sm-block">Контакт-центр налоговых органов:</div>
                            <div class="d-flex ml-2">
                                  <a href="tel:189" class="header-landing__link d-flex mb-2 mb-sm-0 mr-sm-3"><i class="bi-telephone-fill mr-1"></i>189</a>
                            </div>
                        </div>
                  </div>
              </div>
        </header>
        <main class="page page__decor">
              <div class="content my-5">
                  <div class='container'>
                        <div class="row mx-n2 mt-n3">
                            <aside class="col-lg-4 order-lg-2 px-2 pt-3">
                                  <div class="sidebar">
                                      <ul class="sidebar__list px-2 px-md-3 py-3 py-md-4 mb-4 mb-lg-4">
                                            <li>
                                                <a href="#1" class="d-flex">
                                                      <i class="_icon-chevron-down-circle mt-1 mr-2"></i>
                                                      <span>Где получить сертификат ЭЦП?</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#2" class="d-flex">
                                                      <i class="_icon-chevron-down-circle mt-1 mr-2"></i>
                                                      <span>Какие необходимы документы?</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#3" class="d-flex">
                                                      <i class="_icon-chevron-down-circle mt-1 mr-2"></i>
                                                      <span>
                                                        Порядок получения ЭЦП
                                                      </span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#4" class="d-flex">
                                                      <i class="_icon-chevron-down-circle mt-1 mr-2"></i>
                                                      <span>
                                                        Для выработки ЭЦП может использоваться, в том числе идентификационная карта (ID-карта)
                                                      </span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#5" class="d-flex">
                                                      <i class="_icon-chevron-down-circle mt-1 mr-2"></i>
                                                      <span>
                                                        Способы подачи деклараций
                                                      </span>
                                                </a>
                                            </li>
                                            
                                      </ul>
                                      <a href="https://nalog.gov.by/cabinet/" target="_blank" rel="noopener noreferrer" class="sidebar__link-block p-3 d-flex align-items-center justify-content-between mb-4">
                                            <span>Вход в личный кабинет</span>
                                            <i class="bi bi-lock ml-4"></i>
                                      </a>
                                  </div>
                            </aside>
                            <div class="col-lg-8 px-2 pt-3">
                                  <section class="item-block px-md-4 px-3 pb-2">
                                    <section class="preview section-landing mb-5">
                                          <div class="d-flex align-items-center justify-content-between mb-0">
                                              <div class="preview__info mb-2 d-flex flex-column align-items-start p-0">
                                                    <h1 class="h1 mb-4 font-weight-bold">
                                                      Полный гид <br> по получению ЭЦП
                                                    </h1>
                                                    <p class="preview__text mb-3 color-black">
                                                      Вся необходимая информация о получении сертификата ЭЦП, включая перечень документов и порядок действий.
                                                    </p>
                                                    <p class="preview__text mb-3 color-black">
                                                      Узнайте о возможностях использования ID-карты и способах подачи деклараций.
                                                    </p>
                                              </div>
                                              <div class="preview__img bg-transparent p-0">
                                                    <img src="./img/landing-ecp/ecp-main-image.png" alt="Картинка">
                                              </div>
                                          </div>
                                    </section>

                                    <section id="1" class="section-landing mb-4">
                                          <h2 class="h2 mb-4 font-weight-bold">
                                              Где получить сертификат ЭЦП? 
                                          </h2>
                                          <div class="mb-4">
                                          Получить сертификат ЭЦП можно в регистрационных центрах. 
                                          </div>

                                          <div class="row">
                                            <div class="col-md-4 mb-3">
                                              <div class="d-inline-flex flex-column w-100">
                                                <label class="cigarettes__label" for="typeSelect">Населенный пункт</label>
                                                <select
                                                  class="cigarettes__input"
                                                  id="typeSelect"
                                                  v-model="selectedType"
                                                  name="selectedType"
                                                >
                                                  <option selected="selected" value="all">Все</option>
                                                  <option value="declader">Заявленные максимальные розничные цены</option>
                                                  <option value="applicable">
                                                    Применяемые максимальные розничные цены
                                                  </option>
                                                </select>
                                              </div>
                                            </div>
                                            <div class="col-md-8 mb-3">
                                              <div class="d-inline-flex flex-column w-100">
                                                <label class="cigarettes__label" for="typeSelect">Поверенный</label>
                                                <select
                                                  class="cigarettes__input"
                                                  id="typeSelect"
                                                  v-model="selectedType"
                                                  name="selectedType"
                                                >
                                                  <option selected="selected" value="all">Все</option>
                                                  <option value="declader">Заявленные максимальные розничные цены</option>
                                                  <option value="applicable">
                                                    Применяемые максимальные розничные цены
                                                  </option>
                                                </select>
                                              </div>
                                            </div>
                                            </div>

                                            <table class="cigarettes__table table-header" >
                                            <thead>
                                                <tr class="row-gray fs-14">
                                                  <th class="width-20">Поверенный</th>
                                                  <th class="width-40">Наименование аккредитованного структурного подразделения, РЦ</th>
                                                  <th class="width-20">Адрес АРМ</th>
                                                  <th class="width-20">Населённый пункт</th>
                                                </tr>
                                            </thead>
                                            <tbody>

                                            </tbody> 
                                        </table>
                                    </section>

                                    <section id="2" class="section-landing mb-4">
                                          <h2 class="h2 mb-4 font-weight-bold">
                                          Какие необходимы документы?
                                          </h2>
                                          <div class="section-border mb-4">
                                          <div class="control-block control-block-agree align-items-center mb-3">
                                            <div class="item-tax-amount__icon d-flex align-items-center justify-content-center mr-3 bg-color-green">
                                              <i class="bi bi-file-earmark-zip h1 color-white"></i>
                                            </div>
                                            <div class="d-flex flex-column ms-4">
                                                  <div class="control-block__title mb-2">
                                                  Документы, необходимые индивидуальным предпринимателям для получения услуги издания сертификата открытого ключа ЭЦП:
                                                  </div>
                                            </div>
                                          </div>
                                          <ul class="list-check-icon pl-3 pl-sm-3 mb-3">
                                            <li class="my-2 d-flex align-items-start">
                                              <i class="bi bi-check2-circle mr-3"></i>
                                              <span>
                                                <span class="fw-semibold">документ, удостоверяющий личность</span> (паспорт, ID-карта, вид на жительство, удостоверение беженца (только оригиналы));
                                              </span>
                                            </li>
                                            <li class="mb-2 d-flex align-items-center">
                                              <i class="bi bi-check2-circle mr-3"></i>
                                              <span>
                                                <span class="fw-semibold">копия документа, подтверждающего оплату услуги*</span> (в распечатанном виде);
                                              </span>
                                            </li>
                                            <li class="mb-2 d-flex align-items-start">
                                              <i class="bi bi-check2-circle mr-3"></i>
                                              <span>
                                                <a class="color-green" href="https://info-center.by/services/pki/dokumenty/" target="_blank">перечень сведений о Подписчике для индивидуальных предпринимателей</a> (раздел «Документы для получения услуги/Перечень сведений о Подписчике (ИП)»), заполненный и подписанный ИП и заверенный печатью (при наличии печати);
                                              </span>
                                            </li>
                                            <li class="mb-0 d-flex align-items-center">
                                              <i class="bi bi-check2-circle mr-3"></i>
                                              <span class="fw-semibold">
                                                копия свидетельства о государственной регистрации ИП.
                                              </span>
                                            </li>
                                          </ul>
                                          <p class="mb-0 fs-14">
                                            * В случае оплаты услуги Удостоверяющего центра иной организацией или индивидуальным предпринимателем за Подписчика - в регистрационный центр необходимо представить документ, подтверждающий основание оплаты (договор перевода долга, договор исполнения обязательства третьим лицом, договор займа, иной документ подтверждающий взаимоотношение сторон), в платежном поручении также необходимо указать УНП третьего лица.
                                          </p>
                                        </div>

                                        <div class="section-border mb-4">
                                          <div class="control-block control-block-agree align-items-center mb-3">
                                            <div class="item-tax-amount__icon d-flex align-items-center justify-content-center mr-3 bg-color-green usb">
                                              <i class="bi bi-usb-drive-fill h1 color-white"></i>
                                            </div>
                                            <div class="d-flex flex-column ms-4">
                                                  <div class="control-block__title mb-2">
                                                  При получении услуги «без выдачи носителя ключевой информации» дополнительно нужно иметь:
                                                  </div>
                                            </div>
                                          </div>
                                          <ul class="list-check-icon pl-3 pl-sm-3 mb-0">
                                            <li class="mb-0 d-flex align-items-center">
                                              <i class="bi bi-check2-circle mr-3"></i>
                                              <span>
                                                носитель ключевой информации (AvPass или AvBign) с паспортом носителя; 
                                              </span>
                                            </li>
                                          </ul>
                                        </div>

                                        <div class="section-border mb-4">
                                          <div class="control-block control-block-agree align-items-center mb-3">
                                            <div class="item-tax-amount__icon d-flex align-items-center justify-content-center mr-3 bg-color-green">
                                              <i class="bi bi-file-earmark-text-fill h1 color-white"></i>
                                            </div>
                                            <div class="d-flex flex-column ms-4">
                                                  <div class="control-block__title mb-2">
                                                  При получении атрибутного сертификата для работы с системами ФСЗН или базового атрибутного сертификата нужно иметь:
                                                  </div>
                                            </div>
                                          </div>
                                          <ul class="list-check-icon pl-3 pl-sm-3 mb-0">
                                            <li class="mb-3 d-flex align-items-start">
                                              <i class="bi bi-check2-circle mr-3"></i>
                                              <span>
                                                заверенную Подписчиком информацию с <a class="color-green" href="http://portal.ssf.gov.by/mainPage/service/">корпоративного портала ФСЗН</a> для каждого УНПФ («Предприниматель сам за себя» и (или) «Предприниматель за наемных»);  
                                              </span>
                                            </li>
                                            <li class="mb-2 d-flex align-items-center">
                                              <i class="bi bi-check2-circle mr-3"></i>
                                              <span>
                                                <span class="fw-semibold color-green text-uppercase">или</span> копию извещения о постановке на учет, подтверждающую учетный номер плательщика в органе ФСЗН, заверенную в соответствии с законодательством Республики Беларусь;   
                                              </span>
                                            </li>
                                            <li class="mb-0 d-flex align-items-center">
                                              <i class="bi bi-check2-circle mr-3"></i>
                                              <span>
                                                <span class="fw-semibold color-green text-uppercase">или</span> информационное письмо органа ФСЗН, дублирующее сведения о постановке на учет.   
                                              </span>
                                            </li>
                                          </ul>
                                        </div>

                                        <div class="attention d-flex align-items-center mb-5 p-3 p-sm-4">
                                          <i class="bi bi-info-circle-fill mr-3 mr-sm-4"></i>
                                            <div>
                                              Учетный номер плательщика в органе ФСЗН должен содержать 9 символов
                                            </div>
                                        </div> 

                                        <div class="mb-4">
                                          <h4 class="fw-semibold h4 mb-3">
                                            Вы можете оформить ЭЦП на разных носителях
                                          </h4>
                                          <div class="row">
                                            <div class="col-12 col-md-6 mb-3">
                                              <div class="d-flex align-items-center">
                                                <div class="item-tax-amount__icon d-flex align-items-center justify-content-center mr-2 bg-color-yellow">
                                                  <i class="bi bi-usb-drive-fill h1 color-white"></i>
                                                </div>
                                                <div class="d-flex flex-column ms-2">
                                                  <div class="control-block__title mb-2">
                                                    на флешке — удобно работать с компьютера или ноутбука
                                                  </div>
                                                </div>
                                              </div>
                                            </div>
                                            <div class="col-12 col-md-6 mb-0">
                                              <div class="d-flex align-items-center">
                                                <div class="item-tax-amount__icon d-flex align-items-center justify-content-center mr-2 bg-color-yellow">
                                                  <i class="bi bi-sim-fill h1 color-white"></i>
                                                </div>
                                                <div class="d-flex flex-column ms-2">
                                                  <div class="control-block__title mb-2">
                                                    на сим-карте — можно работать с мобильной ЭЦП
                                                  </div>
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                    </section>

                                    <section id="3" class="section-landing mb-4">
                                      <h2 class="h2 mb-4 font-weight-bold">
                                        Порядок получения ЭЦП
                                      </h2>

                                      <a href="#" class="link-download mb-4" download>
                                        <div class="link-download__text">
                                          <i class="bi bi-file-earmark-text-fill h2 mr-2"></i>
                                          <div>
                                            Инфографика «Алгоритм получения ЭЦП для ИП в РУП «Информационно-издательский центр по налогам и сборам»
                                          </div>
                                        </div>
                                        <div class="link-download__icon">
                                          <i class="bi bi-download mr-2"></i>
                                          <div>Скачать</div>
                                        </div>
                                      </a>

                                      <a href="#" class="link-download mb-4" download>
                                        <div class="link-download__text">
                                          <i class="bi bi-file-earmark-text-fill h2 mr-2"></i>
                                          <div>
                                            Инфографика «Алгоритм получения ЭЦП для ИП»
                                          </div>
                                        </div>
                                        <div class="link-download__icon">
                                          <i class="bi bi-download mr-2"></i>
                                          <div>Скачать</div>
                                        </div>
                                      </a>

                                      <div class="distant-certificate d-flex flex-column flex-md-row align-items-start">
                                        <div class="distant-certificate__text">
                                            <h5 class="h5 h5_white mb-4">Дистанционное издание сертификата</h5>
                                            <p class="mb-4">
                                                На официальном интернет-сайте Национального центра электронных услуг в разделе 
                                                <a class="distant-certificate__link fw-semibold" href="https://nces.by/pki/service/distance_sert/">
                                                    «Сертификаты ЭЦП и носители»
                                                </a> размещена информация об услуге 
                                                <span class="color-yellow fw-semibold">дистанционного издания сертификата</span> 
                                                индивидуального предпринимателя (физического лица) 
                                                <span class="fw-semibold color-yellow">с использованием действующего сертификата.</span>
                                            </p>
                                        </div>
                                        <div class="distant-certificate__img">
                                            <img src="./img/landing-ecp/distant-certificate.png" alt="Получить сертификат">
                                        </div>
                                      </div>

                                      <div>
                                        <div class="control-block control-block-agree my-2 align-items-center mb-3">
                                          <div class="control-block__icon p-lg-3 p-2 col-1">
                                                <b class="color-white">
                                                    1
                                                </b>
                                          </div>
                                            <div class="d-flex flex-column ms-4">
                                              <div class="control-block__title mb-2">
                                                Выберите регистрационный центр, аккредитованный в ГосСУОК
                                              </div>
                                              <div class="control-block__text">
                                                (перечень регистрационных центров размещен в разделе <a class="color-green" href="#1">«Где получить сертификат ЭЦП?»</a>)
                                            </div>
                                          </div>
                                        </div>
                                        <div class="control-block control-warning my-2 align-items-start mb-3">
                                          <div class="control-block__icon p-lg-3 p-2 col-1">
                                                <b class="color-white">
                                                    2
                                                </b>
                                          </div>
                                          <div class="d-flex flex-column ms-4">
                                            <div class="control-block__title mb-3">
                                              Определитесь с услугой
                                            </div>
                                            <ul class="pl-4 mb-0">
                                              <li class="mb-3 fw-semibold">
                                                Выберите услугу «Издание сертификата»
                                              </li>
                                              <li class="mb-3 fw-semibold">
                                                Выберите срок, на который хотите получить сертификат (1 или 2 года)
                                              </li>
                                            </ul>
                                            <div class="attention d-flex align-items-center mb-3 p-3 p-sm-4">
                                              <i class="bi bi-info-circle-fill mr-3 mr-sm-4"></i>
                                                <div>
                                                  Если есть наемные работники, выберите услугу с получением дополнительного атрибутного сертификата для работы с системами ФСЗН
                                                </div>
                                            </div>
                                          </div>
                                        </div>
                                        <div class="control-block control-block-agree my-2 align-items-center mb-3">
                                          <div class="control-block__icon p-lg-3 p-2 col-1">
                                                <b class="color-white">
                                                    3
                                                </b>
                                          </div>
                                            <div class="d-flex flex-column ms-4">
                                              <div class="control-block__title mb-2">
                                                Соберите пакет документов
                                              </div>
                                              <div class="control-block__text">
                                                (перечень документов размещен в разделе <a class="color-green" href="#2">«Какие необходимы документы?»</a>)
                                            </div>
                                          </div>
                                        </div>
                                        <div class="control-block control-warning my-2 align-items-start mb-3">
                                          <div class="control-block__icon p-lg-3 p-2 col-1">
                                                <b class="color-white">
                                                    4
                                                </b>
                                          </div>
                                          <div class="d-flex flex-column ms-4">
                                            <div class="control-block__title mb-3">
                                              Оплатите услугу
                                            </div>
                                            <ul class="pl-4 mb-0">
                                              <li class="mb-3 fw-semibold">
                                                по счету-фактуре услуги
                                              </li>
                                              <li class="mb-3 fw-semibold">
                                                через систему ЕРИП:
                                                <ul class="inner-list mt-2">
                                                  <li class="mb-2"><span class="fw-semibold">Для этого последовательно выберите в дереве услуг:</span> «Электронное правительство»/«ГосСУОК»/«РУЦ для юридических лиц» <span class="color-gray">(для ИП и юрлиц)</span></li>
                                                  <li class="fw-semibold mb-2">
                                                    Введите данные:
                                                    <ul class="subinner-list">
                                                      <li class="fw-normal my-2">
                                                        код услуги РУЦ из прейскуранта / УНП;
                                                      </li>
                                                      <li class="fw-normal">
                                                        ФИО лица, получающего услугу
                                                      </li>
                                                    </ul>
                                                  </li>
                                                  <li class="fw-semibold">
                                                    Нажмите «Оплатить»
                                                  </li>
                                                </ul>
                                              </li>
                                            </ul>
                                          </div>
                                        </div>
                                        <div class="attention d-flex align-items-center mb-5 p-3 p-sm-4">
                                          <i class="bi bi-info-circle-fill mr-3 mr-sm-4"></i>
                                            <div>
                                              Индивидуальные предприниматели оплачивают услуги по счетам-фактурам для юридических лиц
                                            </div>
                                        </div>
                                      </div>
                                    </section>

                                    <section id="4" class="section-landing mb-4">
                                        <h2 class="h2 mb-4 font-weight-bold">
                                              Для выработки ЭЦП может использоваться в том числе идентификационная карта (ID-карта)
                                        </h2>

                                        <a href="#" class="link-download mb-4" download>
                                          <div class="link-download__text">
                                            <i class="bi bi-file-earmark-text-fill h2 mr-2"></i>
                                            <div>
                                              Инфографика «Индивидуальным предпринимателям-владельцам идентификационной карты (ID-карты)»
                                            </div>
                                          </div>
                                          <div class="link-download__icon">
                                            <i class="bi bi-download mr-2"></i>
                                            <div>Скачать</div>
                                          </div>
                                        </a>

                                        <p class="h5 mb-4">
                                          Авторизация в личном кабинете плательщика с использованием ID-карты
                                        </p>

                                        <ul class="list-check-icon pl-3 pl-sm-3 mb-4">
                                          <li class="mb-3 d-flex align-items-start">
                                            <i class="bi bi-check2-circle mr-3"></i>
                                            <span>
                                              Установите на персональном компьютере программное обеспечение «Клиентская программа (КП)». Для скачивания программы воспользуйтесь <a class="color-green" href="https://nces.by/service/po/">ссылкой</a>
                                            </span>
                                          </li>
                                          <li class="mb-2 d-flex align-items-center">
                                            <i class="bi bi-check2-circle mr-3"></i>
                                            <span>
                                              Запустите приложение <span class="fw-semibold">NTClientSoftware</span>
                                            </span>
                                          </li>
                                          <li class="mb-0 d-flex align-items-center">
                                            <i class="bi bi-check2-circle mr-3"></i>
                                            <span>
                                              Перейдите в <a  class="color-green" href="https://nalog.gov.by/cabinet/">Личный кабинет плательщика</a> и осуществите <a class="color-green" href="https://lkfl.portal.nalog.gov.by/en/esifuyl"></a>Вход по ЭЦП, ID-карте (через ЕС ИФЮЛ)   
                                            </span>
                                          </li>
                                          <li class="mb-0 d-flex align-items-start mt-3">
                                            <i class="bi bi-check2-circle mr-3"></i>
                                            <span class="mb-0">
                                              <p class="mb-2">Введите PIN1 (способ аутентификации «ID-карта»).</p>
                                              <p class="mb-0">
                                                Для работы с ID-картами необходимо использовать считыватели биометрических документов   
                                              </p>
                                            </span>
                                          </li>
                                        </ul>

                                        <div class="attention d-flex align-items-center mb-5 p-3 p-sm-4">
                                          <i class="bi bi-info-circle-fill mr-3 mr-sm-4"></i>
                                            <div>
                                              <p class="mb-2">ID-карта выдается сроком на 10 лет.</p>
                                              <p class="mb-0">Одновременно с ее выдачей выпускается сертификат открытого ключа на тот же срок
                                              </p>
                                            </div>
                                        </div>
                                    </section>

                                    <section id="5" class="section-landing mb-3">
                                          <h2 class="h2 mb-4 font-weight-bold">
                                              Способы подачи деклараций
                                          </h2>

                                          <div class="section-border mb-3">
                                            <p class="color-green h4 mb-3">
                                              – в Личном кабинете
                                            </p>
                                            <a href="#" class="link-download mb-0" download>
                                              <div class="link-download__text">
                                                <i class="bi bi-file-earmark-text-fill h2 mr-2"></i>
                                                <div>
                                                  Инфографика «Cоздание налоговой декларации в личном кабинете (через ЕС ИЮФЛ)»
                                                </div>
                                              </div>
                                              <div class="link-download__icon">
                                                <i class="bi bi-download mr-2"></i>
                                                <div>Скачать</div>
                                              </div>
                                            </a>
                                          </div>

                                          <div class="section-border">
                                          <p class="color-green h4 mb-3">
                                            – через AРM «Плательщик»  
                                          </p>
                                          <a href="#" class="link-download mb-3" download>
                                            <div class="link-download__text">
                                              <i class="bi bi-file-earmark-text-fill h2 mr-2"></i>
                                              <div>
                                                Инфографика «Как подключиться к системе электронного декларирования (АРМ «Плательщик»)»
                                              </div>
                                            </div>
                                            <div class="link-download__icon">
                                              <i class="bi bi-download mr-2"></i>
                                              <div>Скачать</div>
                                            </div>
                                          </a>
                                          <a href="#" class="link-download mb-0" download>
                                            <div class="link-download__text">
                                              <i class="bi bi-file-earmark-text-fill h2 mr-2"></i>
                                              <div>
                                                Инфографика «Алгоритм подачи налоговой декларации (расчета) через систему электронного декларирования (АРМ «Плательщик») »
                                              </div>
                                            </div>
                                            <div class="link-download__icon">
                                              <i class="bi bi-download mr-2"></i>
                                              <div>Скачать</div>
                                            </div>
                                          </a>
                                        </div>
                                    </section>
                                  </section>
                            </div>
                        </div>
                  </div>
              </div>
        </main>
        <footer class="footer py-4 py-md-5">
              <div class='container'>
                  <a href="https://nalog.gov.by/" class="f"><i class="bi bi-chevron-left mr-3"></i>К сайту
                        Министерства по налогам и сборам</a>
                        
              </div>
        </footer>
     </div>
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
     <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script> -->
     <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
          integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
          crossorigin="anonymous"></script>
     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
          crossorigin="anonymous"></script>
     <script src="js/script.js"></script>
     <script>
          $(function () {
               $('a[href^="#"]').click(function (event) {
                    var target = $(this).attr('href');
                    $('html, body').animate({ scrollTop: $(target).offset().top - 10 }, 800);
                    return false;
               });
          });
     </script>
     <script src="https://unpkg.com/vue@3/dist/vue.global.prod.js"></script>
     <script src="https://unpkg.com/vuex@4.1.0/dist/vuex.global.js"></script>
     <script>
        const { createApp, ref, computed, onMounted, onBeforeUnmount, onBeforeMount } = Vue;

        const store = Vuex.createStore({
          state: {
            data: {
              'name': 123
            }
          }
        })

        createApp({
          setup() {

            const data = store.state.data.name;
            console.log(data)
  
            return {
              data
            };
          }
      }).use(store).mount('#app');

     </script>
</body>

</html>